extends layout

block content
  .row
    .span12
      .hero-unit
        h1 Welcome to the blog!
        p This is the example blog for 10gen's class M101:
        |  MongoDB for Developers.  Check out the course
        a(href="https://education.10gen.com", target="_blank")  here
        br
        section
          for post in posts
            h2
              a(href='/post/' + post.permalink) #{post.title}
            | Posted #{post.date} 
            b By 
            i #{post.author}
            br
            | Comments: 
            - var numComments = (post.comments != '') ? post.comments.length : 0
            a(href='/post/' + post.permalink) #{numComments}
            p
            | #{post.body}
            p
              em Tags: 
              if (post['tags'][0] != "")
                each tag, i in post['tags']
                  b #{tag} 
            hr
