extends layout

block content
  .row
    .span9(style='padding-left: 20px')
      section
        h2 #{post['title']}
        p
          small
            em
            | Posted #{post['date']} By 
            strong #{post['author']}
        hr
        p #{post['body']}
        br
        em  Tags
        | : 
        if (post['tags'][0] != '')
          each tag, i in post['tags']
            span.label #{tag}
      br
      section
        - var numComments = (post.comments != '') ? post.comments.length : 0
        | Comments: #{numComments}
        hr
        each comm, i in post['comments']
          p
            | #{comm.body}
          small
            | Posted by: #{comm.name}
          hr
        h4 Add a comment
        form.form-horizontal(action='/newcomment', method='POST')
          input(type='hidden', name='permalink', value= post.permalink)
          br
          .control-group
            label.control-label(for='commentName') Name (required)
            .controls
              input.input-xlarge(type='text', name='commentName', value= comment.name)
              if (errors.commentName)
                span.alert.alert-error
                  a.close(href='#', data-dismiss='alert') x
                  | #{errors.commentName.msg}
          .control-group
            label.control-label(for='commentEmail') Email (optional)
            .controls
              input.input-xlarge(type='text', name='commentEmail', value= comment.email)
          .control-group
            label.control-label(for='commentBody') Comment
            .controls
              textarea.span4(name='commentBody', rows='5') #{comment.body}
              if (errors.commentBody)
                span.alert.alert-error
                  a.close(href='#', data-dismiss='alert') x
                  | #{errors.commentBody.msg}
          .control-group
            .controls
              input.btn(type='submit', value='Submit')