extends layout

block content
  if username
    | Welcome 
    b #{username} 
    a(href='/logout') Logout
    |  | 
    a(href='/newpost') New Post
  else
    a(href='/login') Login
    |  | 
    a(href='/signup') signup
  p
    h1 My Blog
    for post in posts
      h2
        a(href='/post/' + post.permalink) #{post.title}
      | Posted #{post.date} 
      b By 
      i #{post.author}
      br
      | Comments: 
      - var numComments = (post.comments != '') ? post.comments.length : 0
      a(href='/post/' + post.permalink) #{numComments}
      hr
      | #{post.body}
      p
        p
          em Tags: 
          if (post['tags'][0] != "")
            each tag, i in post['tags']
              b #{tag} 
          p
