extends layout

block stylesheets
  style
    .label {text-align: right}
    .error {color: red}

block content
  if username
    | Welcome #{username} 
    a(href='/logout') Logout
    |  | 
  a(href='/') Blog Home
  br
  br
  h2 #{post['title']}
  | Posted #{post['date']} By 
  i #{post['author']}
  br
  hr
  | #{post['body']}
  p
    em  Tags
    | : 
    if (post['tags'][0] != '')
      each tag, i in post['tags']
        b #{tag} 
    p
      | Comments: 
      ul
        - var numComments = (post.comments != '') ? post.comments.length : 0
        each comm, i in post['comments']
          | Author: 
          b #{comm.name}
          br
          | #{comm.body}
          hr
        h3 Add a comment
        form(action='/newcomment', method='POST')
          input(type='hidden', name='permalink', value= post.permalink)
          br
          b Name 
          | (required)
          .error
            if (errors.commentName)
              | #{errors.commentName.msg}
          input(type='text', name='commentName', size='60', value= comment.name)
          br
          br
          b Email
          | (optional)
          br
          input(type='text', name='commentEmail', size='60', value= comment.email)
          br
          br
          b Comment
          .error
            if (errors.commentBody)
              | #{errors.commentBody.msg}
          textarea(name='commentBody', cols='60', rows='10') #{comment.body}
          br
          input(type='submit', value='Submit')