extends layout

block addStyle
  style
    .hero-unit {
      margin: 0 10%;
    }
    header.postInfo h2, .postMeta, .postBy, .postTime {
      margin: 0 0;
      padding: 0 0;
    }

    .postMeta {
      position: relative;
      height: 1.1em;
    }
    .postBy, .postTime {
      position: absolute;
      line-height: 1em;
      font: italic .8em sans-serif;
    }
    .postTime {
      top: 0;
      right: 0;
    }

    article.post {
      margin-top: 1em;
    }
    .postBody {
      text-indent: 2em;
    }

    footer {
      position: relative;
      height: 5.5em;
    }
    .postTags, .commentCounts {
      margin-top: .6em;
      padding: 0 0;
      font-size: .7em;
    }
    a.tag {
      background-color: green;
      color: white;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      text-decoration: none;
      padding: 3px 4px;
      margin: 2px 2px 2px 0;
      line-height: 2.4;
      white-space: nowrap;
    }
    .commentCounts {
      position: absolute;
      bottom: .2em;
      left: 0;
      font-size: 1em;
    }
    .counts {
      display: inline;
      font-weight: bold;
    }
    hr {
      border-color: #1A1A1A;
      margin-top: .5em;
    }
    hr.comment {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin-bottom: .5em;
    }

    .commentInfo {
      margin-top: 1em;
      padding: 0 4em;
      font: .9em "Trebuchet MS";
    }
    .commentBy {
      margin-top: .5em;
      font-size: .8em;
    }
    .commentAuthor {
      display: inline;
      font: italic bold 1em "Trebuchet MS";
    }

    header.postInfo, header.postInfo h2, .postMeta, .postBy, .postTime, .postBody, .postTags, .commentCounts, article.post, .postComments, .commentInfo, .comment, .commentBy, section.addComment, .alert, .alert a{
      //- border: thin solid red;
    }

    .alert {
      width: 25%;
      margin-bottom: .2em;
      padding-top: 0;
      padding-bottom: 0;
    }
    .alert a.close {
      top: .2em;
      right: -1.5em;
    }

block content
  .container
    .row
      .hero-unit
        header.postInfo
          h2 #{post.title}
          .postMeta
            .postBy
              | By
              b  #{post.author}
            .postTime
              | Posted #{post.date}
        hr
        article.post
          .postBody
            | !{post.body}
          footer
            .postTags
              em  Tags: 
              if (post['tags'][0] != '')
                each tag, i in post['tags']
                  a.tag(href='/tag/#{tag}') #{tag} 
            - var numComments = (post.comments != '') ? post.comments.length : 0
            .commentCounts
              | Comments: 
              .counts
                !{numComments}
            hr.comment
        section.postComments
          each comm, i in post['comments']
            .commentInfo
              .comment
                | #{comm.body}
              .commentBy
                | Posted by:
                .commentAuthor
                  |  #{comm.author}
            hr

        section.addComment
          h4 Add a comment
          form(action='/newcomment', method='POST')
            input(type='hidden', name='permalink', value= post.permalink)
            if (errors.commentName)
              .alert.alert-error
                a.close(href='#', data-dismiss='alert')
                  | x
                | #{errors.commentName.msg}
            input.span4(type='text', name='commentName', placeholder="Name", value= comment.author)
            br
            input.span4(type='text', name='commentEmail', placeholder="Email (optional)", value= comment.email)
            if (errors.commentBody)
              .alert.alert-error
                a.close(href='#', data-dismiss='alert') x
                | #{errors.commentBody.msg}
            textarea.span6(name='commentBody', rows='5', placeholder="Comment") #{comment.body}
            
            br
            input.btn.btn-info(type='submit', value='Submit')
